[submodule "deftr--webclient"]
	path = deftr--webclient
	url = ./deftr--webclient
[submodule "deftr--server"]
	path = deftr--server
	url = ./deftr--server
[submodule "deftr--public-api"]
	path = deftr--public-api
	url = ./deftr--public-api
