[submodule "deftr--webclient"]
	path = deftr--webclient
	url = https://github.com/utkusarioglu/deftr--webclient.git
[submodule "deftr--server"]
	path = deftr--server
	url = https://github.com/utkusarioglu/deftr--server.git
[submodule "deftr--public-api"]
	path = deftr--public-api
	url = https://github.com/utkusarioglu/deftr--public-api.git
